/**
 * 公共样式文件
 */


/* 公共样式 */
*{
    padding: 0;
    margin: 0;
    font-family: "微软雅黑";
    transition: all 0.5s; 
}
a{
    text-decoration: none;
}
svg{
    vertical-align: bottom;
}
li{
    list-style: none;
}
.content{
    width: 1190px;
    margin: 0 auto;
}


/* 定义动画 */
@keyframes scroll{
    from{
        transform: translateY(-80px);
    }
    to{
        transform: translateY(0px);
    }
}


/* 顶部导航 */
header{
    width: 100%;
    top: 0;
    color: #fff;
    background: #252930;
    transition: all .3s;
    z-index: 9999;
    box-shadow: 0px 6px 13px 0px rgba(209, 209, 209, 0.06);
}
header .content{
    display: flex;
    justify-content: space-between;
    height: 80px;
}
header .logo{
    display: flex;
    align-items: center;
}
header .logo img{
    width: 60px;
}
header .logo p{
    font-size: 24px;
    margin-left: 5px;
    letter-spacing: 4px;
}
header nav ul{
    display: flex;
}
header nav ul li{
    position: relative;
    height: 80px;
    margin-left: 44px;
    line-height: 80px;
}
header nav ul li a{
    font-size: 20px;
    color: #fff;
}
header nav ul li a:hover{
    color: wheat;
}
header nav ul li:last-child a{
    padding: 7px 19.65px;
    border-radius: 3px;
    background: #aaa081;
}
header nav ul li:last-child a:hover{
	background: white;
    color: black;
}
header nav ul li.active::after{
    content: '';
    position: absolute;
    border-radius: 10px;
    width: 22px;
    height: 5px;
    bottom: 11px;
    left: 9px;
    background: #fff;
}

/* 底部导览 */
footer{
    background: #fff;
}
footer .content{
    border-top: 1px solid #e5e5e5;
}
footer .info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 70px 0 140px 0;
}
footer .info h2{
    color: #252930;
    font-size: 24px;
    font-weight: 700;
    margin-bottom: 10px;
}
footer .info p,
footer .info a{
    color: #848484;
    font-size: 16px;
    margin-bottom: 10px;
}
footer .info a:hover{
    color: blue;
}
footer .info > div{
    flex: 1;
    margin: 10px;
    text-align: center;
    height: 166px;
}
footer .info .about{
    flex: 2;
}
footer .info .about img{
    width: 80px;
}
footer .info .about h1{
    letter-spacing: 6px;
    font-size: 30px;
    margin: 16px 0;
}
footer .info .about p{
    color: #000;
    font-size: 23px;
}
footer .info .contact,
footer .info .open-hours,
footer .info .links{
    position: relative;
    top: 106px;
}
footer .info .contact svg{
    width: 20px;
}
footer .copyright{
    color: #848484;
    font-size: 16px;
    text-align: center;
    padding: 30px 0;
    border-top: 1px solid #e5e5e5;
}


/* 标题栏 */
.topbar{
    padding: 100px 0;
    text-align: center;
    font-size: 26px;
    color: #fff;
    background: url('../images/comm/topbar.jpg') no-repeat center fixed;
}