body{
	background: url(../images/lianxi/bg.png);
}
.news{
    padding: 100px 0;
}
.news .content{
    width: 860px;
}
.news .content > div{
    margin-bottom: 80px;
}
.news .content > div:last-child{
    margin-bottom: 0;
}
.news a{
    color: #000;
}
.news .content > div h1{
    margin: 20px 0;
    text-align: center;
}
.news .content > div p{
    color: #848484;
    padding: 10px;
}
.news .content > div .img{
    width: 100%;
    height: 320px;
    background-repeat: no-repeat !important;
    background-size: cover !important;
    background-position: center !important;
}
.news .content>div{
	border: solid 1px black;
	border-radius: 10px;
	overflow: hidden;
}
.news .content a>div{
	overflow: hidden;
}
.news .content>div:hover{
	box-shadow: 0px 0px 10px black;
}
.news .content a:hover .img{
	transform: scale(1.1);
}

.news .pages{
    text-align: center;
}
.news .pages svg{
    vertical-align: text-top;
}
.news .pages ul{
    display: inline-block;
    margin-top: 60px;
}
.news .pages ul li{
    float: left;
    width: 30px;
    line-height: 30px;
    margin: 0 6px;
    border: 2px solid #666;
}
.news .pages ul li.active,
.news .pages ul li.active a{
    color: #aaa081;
    border-color: #aaa081;
}
.news .pages ul li a{
    font-weight: bold;
}
